snippet hello
Hello, world!
endsnippet


snippet pc
public class ${1}${0} {
	
}
endsnippet

snippet main
public static void main(String[] args) {
	${1}${1}
}
endsnippet

snippet ssns
Scanner scanner = new Scanner(System.in);
endsnippet

snippet syso
System.out.println();
endsnippet

snippet imsc
import java.util.Scanner;
endsnippet


snippet 123
longshishabi
endsnippet
